.pokeCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: beige;
    border-radius: 100%;
    color: #000;
    padding: 1rem;
    text-align: center;
}
.pokeCard img{
    width: 12vw;
    height: 20vh;
}