.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: red url(../../public/img/background.png) no-repeat ;
  background-size: cover;
}
